<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% block title %}{{g.title}}{% endblock %}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		{% block styles -%}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
		{%- endblock styles %}
		{% block headscripts %}{{headscripts}}
		{% endblock headscripts %}
	</head>
	<body class="{{body_class}}">
		<div class="off-canvas-wrap">
			<div class="inner-wrap">
				<nav id='nav' class="tab-bar right">
					<section class="right-small">
						<a class="right-off-canvas-toggle menu-icon" ><span></span></a>
					</section>
				</nav>
				<aside class="right-off-canvas-menu">
					<ul class="off-canvas-list">
						<li><a href="/">Home</a></li>
						<li><a href="/posts">Posts</a></li>
					</ul>
				</aside>
				<section id="header">{% block header %}{% endblock header %}</section>
				<section id="body" class="main-section">
				{% block body %}{% endblock %}
				</section>

				<a class="exit-off-canvas"></a>
				<footer>
					<p>This is the footer</p>
				</footer>
			</div>
		</div>

		{% block scripts %}
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		{% for scriptname in scriptnames %}
			<script type="text/javascript" src="{{ url_for('static', filename=scriptname) }}"></script>
		{% endfor %}
		{% endblock scripts %}
	</body>
</html>
