{{#model}}
<article class="post">
    <h1>{{title}}</h1>
    {{#if subtitle}}<p class="subtitle"></p>{{/if}}
    <div class="meta">{{create_date}}</div>
    {{! Example image - we need more of these }}
    <img src="/assets/images/steam.png" alt="Mike">
    <section>{{{content.html}}}</section>
</article>
{{/model}}
