{{#model}}
<article class="post">
    <h1>{{title}}</h1>
    {{#if subtitle}}<p class="subtitle"></p>{{/if}}
    <div class="meta">{{create_date}}</div>
    <section>{{{content.html}}}</section>
</article>
{{/model}}
